<h1>Hello index </h1>


<%= form_for :anything, url: "/product", method: :get do |f| %>

  <%= f.text_field :name, class: "form-control form-control-lg", id: "provider-json" %>             
  <%= f.submit value="Send", class: "btn btn-block btn-lg btn-primary"%>

<% end %>



